* {
    box-sizing: border-box;
}

/* estilização no body */
body {
    background-color: #D9D9D9;
    padding-bottom: 0;
}

/* estilização nos elementos do header */
header {
    background-color: #164095;
    display: flex;
    flex-direction: row;
    height: 29vh;
}

.logo-empresa {
    height: auto;
    width: 20vw;
}
 
nav {
    background-color: #979797;
    height: 7vh;
}

nav img {
    height: auto;
    width: 2vw;
}

nav a {
    text-decoration: none;
    color: white;
}

header div {
    align-items: center;
}

header div p {
    color: white;
    margin-top: 0;
}

header div h3 {
    color: white;
    margin-bottom: -0.5rem;
}

/* estilização nos elementos do main */
main {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}

main h4 {
    color: #164095;
}

textarea {
    resize: none;
}

#invalid-title, #invalid-description, #invalid-date, #invalid-origin {
    display: none;
    font-size: 0.8rem;
    color: #c01405;
}

/* estiliza a tabela das não conformidades */
section {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}

table {
    background-color: white;
}

section h4 {
    color: #164095;
}

#th-title, #th-description, #th-date, #th-status {
    color: #164095;
}

/* estilização nos elementos do footer */
footer {
    margin-top: 3.1rem;
}

.footer-main {
    background-color: #979797;
    width: 100%;
    min-height: 5.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#list-contacts {
    position: absolute;
    right: 1rem;
}

#container-direitos {
    margin-top: 1rem;
}

.img-fluid {
    width: 18px;
    height: auto;
}

footer li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
}

footer p {
    font-size: 0.8rem;
    text-align: center;
}

