#img1L {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130px;
    z-index: 1;
}

#img2L {
    position: absolute;
    z-index: 2;
    width: 550px;
    transform: translate(-40px);
}

#img3L {
    position: absolute;
    z-index: 3;
    transform: translate(0, 122px);
    width: 100%;
    height: 40px;
    left: 0;
}

#img4L {
    position: absolute;
    height: 18px;
    transform: translate(895px,-20px);
}

#img5L {
    position: relative;
    transform: translateY(190px);
    width: 100%;
    height: 80px;
    z-index: 6;
}

#img6L {
    position: absolute;
    transform: translate(25px, 100px);
    width: 1450px;
    height: 300px;
}

#img7L {
    position: relative;
    transform: translate(130px,120px);
}

.links {
    right: 0;
    position: absolute;
    transform: translate(0, 135px);
    z-index: 4;
}

.links a {
    position: relative;
    z-index: 5;
    color: black;
    padding-right: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    text-decoration: none;
   
}

#t1L {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
    position: relative;
    z-index: 7;
    transform: translate(0, 90px);
    text-align: center;
}


#t2L {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.968);
    z-index: 8;
    position: relative;
    transform: translate(0, 62px);
    text-align: center;
}

.form-label1L {
    position: absolute;
    transform: translate(50px, 150px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.form-control1L {
    position: absolute;
    transform: translate(100px, 150px);
    width: 200px;
}

.form-label2L {
    position: absolute;
    transform: translate(50px, 200px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.form-control2L {
    position: absolute;
    transform: translate(100px, 200px);
}

.form-label3L {
    position: absolute;
    transform: translate(50px, 250px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.form-control3L {
    position: absolute;
    transform: translate(100px, 250px);
    width: 200px;
}

.form-label4L {
    position: absolute;
    transform: translate(400px, 150px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.form-control4L {
    position: absolute;
    transform: translate(500px, 150px);
    width: 200px;
}

.form-label5L {
    position: absolute;
    transform: translate(400px, 201px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.form-control5L {
    position: absolute;
    transform: translate(450px, 201px);
}

.form-label6L {
    position: absolute;
    transform: translate(400px, 251px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.form-control6L {
    position: absolute;
    transform: translate(450px, 251px);
}

.button-container {
    position: absolute;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    transform: translate(1060px, 160px);
  }
  button {
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border: solid rgb(34, 33, 33);
    border-radius: 5px;
  }
  .ativo {
   background-color: transparent;
   color: black;
  }
  .inativo {
    background-color: transparent;
    color: black;
  }
  #mensagemStatus {
    position: absolute;
    font-size: 16px;
    margin-top: 20px;
    transform: translate(1000px, 200px);
  }

  #status {
    position: absolute;
    transform: translate(1000px, 130px);
  }

  #container {
    position: absolute;
    transform: translate(0, 800px);
  }

  #rectangleL img {
    position: absolute;
    left: 0;
    width: 100%;
    transform: translate(0, 200px);
    
}

#tf1L {
    position: absolute;
    transform: translate(490px, 240px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

#emailL {
    position: absolute;
    transform: translate(1200px, 220px);
    width: 20px;
}

#tf2L {
    position: absolute;
    transform: translate(1230px, 206px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

#govL {
    position: absolute;
    transform: translate(1200px, 260px);
    width: 40px;
}

#tf3L {
    position: absolute;
    transform: translate(1244px, 242px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

#telefoneL {
    position: absolute;
    transform: translate(1200px, 290px);
    width: 20px;
}

#tf4L {
    position: absolute;
    transform: translate(1228px, 275px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}