@import url('../style.css');

#adicionarRNC {
  margin: 1.5rem;
  
}

#rncForm legend {
  color: var(--cor-principal);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

#rncForm button {
  padding: .60rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: var(--cor-principal);
  color: #fff;
  font-weight: bold;
  transition: .3s ease;
  cursor: pointer;
}

#rncForm button:hover {
  transform: translateY(-3px);
  background-color: #ccc;
  color: var(--cor-principal);
}

.grupoFormulario {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.grupoFormulario textarea {
  margin-top: .3rem;
  padding: 10px;
  border-radius: 5px;
  resize: none;
}

.grupoFormulario select {
  padding: 10px;
  margin-top: .3rem;
  border-radius: 5px;
}



