* {
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}

/* estilização do header */
header {
    background-color: #164095;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header img {
    width: 20vw;
    height: auto;
   
}

/*estilização do formulário */
form {
    width: 45vw;
    margin-top: 100px;
}

#btn-form {
    width: 15vw;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#validation-password {
    color: red;
    font-size: 0.8px;
    display: none;
}

#invalid-name, #invalid-email, #invalid-password, #invalid-confirm-password, #invalid-department {
    display: none;
    font-size: 0.8rem;
    color: #c01405;
}

/* estilização do footer */
footer {
    position: absolute;
    bottom: 0;
}

footer  div {
    background-color: #979797;
    width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-columns: auto auto;
}

.img-fluid {
    width: 25px;
}

footer li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

footer ul {
    padding-right: 2rem;
}
